:root {
  --primary-color: #29BB89;
  --white: #fff;
  --main-bg-color: #f1f5f8;
  --black: #000;
  --red: #EF4F4F;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  background-color: #F1F8F6;
  padding: 0 6%;
}

/* NAV SECTION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  /* border-bottom: 1px solid var(--primary-color); */
  
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-weight: 500;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: Arial, Helvetica, sans-serif; */
}
.nav-links li {
  font-family: 'Helvetica Neue';
  /* font-weight: bold; */
}
a {
  text-decoration: none;
  color: var(--black);
}
.logo {
  color: var(--primary-color);
}
p {
  line-height: 2rem;
}

/* Header Section */
header {
  padding: 2rem 0;
}
header p {
  margin: 1.5rem 0;
}
.header-img {
  width: 100%;
  object-fit: cover;
  margin-top: 1rem;
}
.start-btn {
  background-color: #29BB89;
  margin-right: 1rem;
}
/* REGISTER-FORM  SECTION */
.register-form {
  margin: 1rem auto;
  padding: 1rem;

}
.register-form input{
  border-radius: 4px;
  outline: none;
  border: 1px solid lightgray;
}
input[type=email], input[type=password] {
  margin-top: 1rem;
  padding: 0.8rem;
}
.auth-btn {
  margin-top: 1rem;
  padding: 0.8rem;
}
.login-btn {
  /* border: 2px solid royalblue; */
  background-color: var(--primary-color);
  color: #f1f5f8;

}
.auth-section {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.auth-title {
    /* margin-top: 1rem; */
    text-align: center;
}
.auth-card {
      width: 40%;
      border-radius: 10px;
      padding: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.12);
}

/* RECIPE-FORM SECTION */
.form-container {
  width: 100%;
  margin: 0 auto;
  background-color: var(--white);
  padding: 2rem 3rem;
  margin-top: 1rem;
}
form {
  display: flex;
  flex-direction: column;
}
input[type=text] {
  margin: 1rem 0;
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 7px;
}
textarea{
  margin: 1rem 0;
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 7px;
}
.ingredient-field, .instruction-field {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.preview-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-top: 1rem;
}
input[type=submit], input[type=button] {
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 7px;
}
.recipeLabel {
  margin-top: 1rem;
}
select {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--white);
  border: 1px solid grey;
}
.add-btn {
  padding: 1rem 2rem;
  margin: 0 auto;
  display: block;
}

.delete-icon {
  color: var(--red);
  font-size: 1.7rem;
  margin-left: 1.5rem;
}
.create-btn {
  margin: 2rem 0;
  width: 100%;
  padding: 0.8rem;
 
}
button {
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 4px;
}

.edit-btn {
  color: #fff;
  margin-right: 2rem;
  background-color: #29BB89;
  font-size: 1rem;
}
.delete-btn {
  color: #fff;
  background-color: red;
  font-size: 1rem;
}
/* MAIN BODY */
.main-container {
  /* display: grid;
  gap: 3rem; */
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;

}

.main-container img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* RECIPE SECTION */
.card {
  border-radius: 12px;
  /* padding: 1rem 0; */
  border: 1px solid rgba(0, 0, 0, 0.12);
  /* background-color: #004643; */
}
.card-content {
  padding: 1rem;
}
.card h5{
  margin: 0.8rem 0;
  color: #004643;
  text-transform: capitalize;
}
.card img{
  width: 100%;
  height: 350px;
  object-fit: cover;
  overflow: hidden;
}
/* RECIPE DETAIL */

.food-detail-container li {
  margin-top: 1rem;
  text-transform: capitalize;
}

.recipe-parameters {
  display: flex;
  padding: 2.5rem 0;
  width: 100%;
  justify-content: space-between;
}

.recipe-intro {
  margin-top: 1rem;
}
 .recipe-img img {
  width: 100%;                   
  object-fit: cover;
  border-radius: 12px;
  margin-top: 1rem;
  height: 300px;
}

.food-detail-container span {
  display: block;
  margin-top: 1rem;
}

.recipe-ingredients ul ,ol{
  padding-left: 1rem;
}

.recipe-ingredients,
.recipe-prep {
  padding: 1rem 0;
}
.step {
  color: #29BB89;
}
.instruction-div {
  padding: 0.5rem 0;
}



@media (min-width: 992px) {
  body{
    padding: 0 10%;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  .header-content {
    margin-top: 1rem;
  }
  .header-img {
    margin-left: 3rem;
    border-radius: 8px;
    height: 400px;
  }

  .main-container {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .form-container {
    width: 70%; 
  }
  .recipe-intro {
    display: flex;

  }
  .left {
    width: 30%;
    margin-right: 6rem;
  }
  .recipe-content {
    display: flex ;
    margin-top: 2rem;
  }
  .recipe-ingredients {
    width: 30%;
  }
  .recipe-prep {
    width: 70%;
    margin-left: 2rem;
  }
  
} 